<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <logger name="ssg.front.common.logging.MonitorInformation" level="OFF"/>
        <logger name="ssg.front.search.api.builder" level="OFF"/>

        <appender name="MONITOR_FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>/data01/logs/wasLog/logback/monitor/monitor.%d{yyyyMMdd}.log</FileNamePattern>
                <MaxHistory>90</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level ${container.name} %msg %n</Pattern>
            </encoder>
        </appender>

        <appender name="ASYNC_MONITOR_FILE" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="MONITOR_FILE_WARN" />
        </appender>

        <logger name="ssg.front.common.logging.MonitorInformation" additivity="false" >
            <appender-ref ref="ASYNC_MONITOR_FILE" />
        </logger>
    </springProfile>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>### %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %L - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
